.appHeader {
  box-shadow: var(--shadow);
  background: var(--element-bg-color);

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 1rem 15px;
  }
}
