.card {
  background: var(--element-bg-color);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--shadow-100);
  color: var(--text-color);

  &__img {
    aspect-ratio: 3/2;
    display: flex;
    align-items: center;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__title {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  &__inner {
    padding: 1rem;
  }
}
